---
# This playbook contains common plays that will be run on all nodes.

- name: Install Mysql 
  apt:
    name: mysql-server
    state: present
  tags: mysql 

- name: Install Sotware Properties Common 
  apt:
    name: software-properties-common
    state: present
  tags: php

- name: Install Isb release
  apt:
    name: lsb-release
    state: present
  tags: php

- name: Install Transport Https
  apt:
    name: apt-transport-https
    state: present
  tags: php

- name: Install Ca Cert
  script: scripts/installphpcert.sh
  tags: php

- name: Install php7.4 
  apt:
    update_cache: yes
    name: php7.4
    state: present
  tags: php

- name: Install Dependency php7.4 
  script: scripts/installphp.sh

- name: Install Composer 
  script: scripts/installcomposer.sh

- name: Add Composer global to bash 
  become: yes
  become_user: theakistea
  script: scripts/setcomposerhome.sh

- name: Install Laravel Valet 
  become: yes
  become_user: theakistea
  script: scripts/installvaletlinux.sh

